.header {
    text-align: center;
    margin-top: 1%;
    padding-bottom: 2%;
    border-bottom: 4px solid lightskyblue;
    background: -webkit-linear-gradient(rgb(159, 226, 171), rgb(184, 128, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}