.footer {
    text-align: center;
    background: -webkit-linear-gradient(rgb(70, 214, 96), rgb(224, 95, 95));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-top: 4px solid lightskyblue;
    background-color: #777;
}