<div class = "viewPanel">
    <button type="button" class="btn btn-success btn-lg refresh" (click) = "getStrategyInfo()">Refresh the table</button>
    Click on header to sort the data
    <br/>
    <mat-form-field class="filter">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> 
    <div *ngIf="dataSource.data.length != 0" >
            <h2 class="stategyInfoHead"> Strategy Information</h2>
    </div>
    
    <div *ngIf="dataSource.data.length == 0">
            <p class="noStrategy"> There is no strategy information now. Create one to make money </p>
    </div>
            

    <div  matSort  class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
          <!-- More Info Column -->
        <ng-container matColumnDef="More Info">
            <th mat-header-cell *matHeaderCellDef> More Info </th>
            <td mat-cell *matCellDef="let element" >   <button type="button" class="btn btn-success btn-lg" (click)="getMoreInfo(element.id)">More Info</button> </td>
            <td mat-footer-cell *matFooterCellDef> Total Profit </td>
        </ng-container>
    
        
        <!-- Name Column -->
        <ng-container matColumnDef="stockName">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>  Stock Name </th>
            <td mat-cell *matCellDef="let element"> {{element.stockName}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
    
        <ng-container matColumnDef="currentPosition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Position </th>
            <td mat-cell *matCellDef="let element" > {{element.currentPosition}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
    
        <!-- Volume Column -->
        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
            <td mat-cell *matCellDef="let element" > {{element.size}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <ng-container matColumnDef="exitProfitLoss">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Exit Profit Loss </th>
            <td mat-cell *matCellDef="let element" > {{element.exitProfitLoss}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <ng-container matColumnDef="profit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Profit </th>
                <td mat-cell *matCellDef="let element"> ${{element.profit | number: '1.2-2'}} </td>
                <td mat-footer-cell *matFooterCellDef> ${{totalProfit | number: '1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="stopped">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> Status </th>
             
                <td mat-cell *matCellDef ="let element">
                    <div *ngIf="element.stopped === 'running'"> 
                             {{element.stopped}}<button type="button"
                            class="btn btn-danger btn-sm" (click) = stopStrategy(element.id)>
                            Stop</button>    
                 </div>
                   <div *ngIf="element.stopped !== 'running'">
                          {{element.stopped}}    
                    </div>
                
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons></mat-paginator>
  </div>
<!-- 
  <app-popup [tradeInfo]="tradeInfo"></app-popup> -->

  <!-- <button type="button" class="btn btn-warning btn-lg" (click)="Test()">Test</button> -->

</div>


  
