@import '~bootstrap/dist/css/bootstrap.min.css';
table {
  width: 100%;
}

.viewPanel {
  margin-left: 30px;
  margin-right: 30px;
}

.filter {
  margin-top: 20px;
}

.tradeInfoHead {
  text-align: center;
  margin-bottom:30px;
}

.btn-danger {
  margin-left: 10px;
}

.noStrategy {
  text-align: center;
}

.stategyInfoHead {
  margin: 30px;
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-container {
  height: 400px; 
  overflow: auto;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.refresh {
  margin-right:10px;
}