<button type="button" class="btn btn-success btn-sm refresh" (click) = "getMoreInfo()">Refresh the table</button>
Click on header to sort the data
<br/>
 <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div *ngIf="dataSource.data.length != 0" >
        <h4 class="tradeInfoHead"> Trade Information</h4>
</div>

<div *ngIf="dataSource.data.length == 0">
        <p class="noInfo"> There is no trade information for this strategy</p>
</div>

        <div matSort class="table-container mat-elevation-z8">

                <mat-dialog-content>
                <div *ngIf="dataSource.data.length != 0">
                        <h5 class="stockName">Stock: {{dataSource.data[0].stockTicker}}, 
                                Total trades: {{dataSource.data.length}}</h5>
                        <table mat-table [dataSource]="dataSource">         
                    
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                                <td mat-cell *matCellDef="let element" >  ${{element.price}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="size">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
                                <td mat-cell *matCellDef="let element" > {{element.size}} </td>
                            </ng-container>
                        
                            
                            <ng-container matColumnDef="lastStateChange" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last state change </th>
                                <td mat-cell *matCellDef="let element" > {{element.lastStateChange}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="trade type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tradeType}} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="state">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                            </ng-container>
                    
                    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
            
                    </div>
                </mat-dialog-content>
                
                <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons></mat-paginator>
               
</div>
<div mat-dialog-actions class="closeDiv">
        <button  (click)="closeDialog()" cdkFocusInitial
            class="btn btn-warning btn-sm"
        >Close</button>
</div>





  <!-- 
  <h1 mat-dialog-title>{{dialogTitle}}"</h1>
  <div *ngFor="let info of dialogText" mat-dialog-content>
    <p>{{info.price}}   {{info.lastStateChange}}</p> -->
<!--   
  </div>
   -->