table {
    width: 100%;
}

.tradeInfoHead {
    text-align: center;
}

.stockName {
    padding: 15px;
}

.noInfo {
    text-align:center;
    padding-top:10px;
}

.btn-warning {
    position: absolute; right: 0; 
}

.closeDiv {
    position: relative;
}

.btn-success {
    margin: 10px;
}
.filter {
    margin: 10px;
}

.table-container {
    height: 400px; 
    overflow: auto;
  }

  .stockName {
   color: royalblue;
  }

  .refresh {
      margin-right: 10px;
  }