<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<app-header></app-header>

<main>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-3">
        <app-body></app-body>
      </aside>
    
      <div class="content col-sm-9">
        <app-view></app-view>  
      </div>
    </div>
  </div>
</main>


<footer class="footer">
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</footer>


<router-outlet></router-outlet>