@import '~bootstrap/dist/css/bootstrap.min.css';
/* * {
    margin: 2%;
    box-sizing: border-box;
      
} */

main,
main aside,
main .content {
  height: calc(100vh - 100px);
}

main {
  margin-top: 15px;
  margin-bottom: 15px;
}

main aside,
main .content {
  padding: 5px 0;
}

main aside {
  background: rosybrown;
}

main .content {
  overflow-y: auto; 
}

.footer {
  height: 50px;
  line-height: 50px;
  background: #F8F8F8;
}

.col-sm-3 {
  overflow:auto;
}