<form [formGroup]="createStrategy" class = "form"> 
    <div class="strategy">
        <!-- <h3> <label>Pick up a Strategy</label></h3>
        <select class="form-control form-control-lg" name="strategy"
                formControlName="strategy">
            <option>Two-moving average</option>
        </select> -->
        <h3> <b>Create Two-moving Strategy</b></h3>
    </div>
    <br/>
    <div class="parameters">
        <h3><label>Enter your Parameters</label></h3>
        <!-- <label for="stockTicker">Stock Ticker</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter a stock ticker"
                formControlName="ticker" name="ticker" 
                >
        <small>Enter a stock ticker such as apl</small> -->
        <label for="stockTicker">Stock Ticker</label>
        <select class="form-control form-control-lg" name="ticker"
            formControlName="ticker">
            <option>APPL</option>
            <option>BRK-A</option>
            <option>GOOG</option>
            <option>MSFT</option>
            <option>NSC</option>
        </select>
        <br/>

        <label for="volume">Volume</label>
        <input type="number" min="1" pattern="[0-9]*" class="form-control form-control-lg" placeholder="Enter the number of share"
                formControlName="size">
        <span class="invalid" *ngIf="!createStrategy.get('size').valid && createStrategy.get('size').touched">
            <small>Please enter a positive integer!</small><br/>
        </span>
        <br/>
        <!-- <small>Enter a valid volume such as 500</small> -->
        <label for="profit">Exit Profit/Loss</label>
        <input class="form-control form-control-lg" type="number" placeholder="Enter the exit profit/loss"
                formControlName="exitProfitLoss">
                <span class="invalid" *ngIf="!createStrategy.get('exitProfitLoss').valid && createStrategy.get('exitProfitLoss').touched">
                    <small>Please enter a positive number!</small><br/>
                </span>
        <br/>
    </div>
  
   
    <button (click)="onSubmit()" type="button" [disabled] = "createStrategy.invalid" class="btn btn-info btn-lg">Create</button>
</form>

<!--(click)="createStrategy(f)"-->