/* .sidebar {
  background: #ccc;
  padding: 20px;
  width:30%;
  height:80%;
  
}   */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.form {
  margin:2%;
}

.strategy {
  margin:10px;
}

.parameters {
  margin:10px;
}

.btn-info {
  margin:5px;
  border-radius: 25px;
  float:right;
}

.ng-touched.ng-invalid {
  border-color: red;
}